@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@100..900&family=Sour+Gummy:wght@100..900&display=swap");

:root {
  --font-roboto: 'Roboto', sans-serif;
  --font-pacifico: 'Pacifico', cursive;
  --font-sourgummy: 'Sour Gummy', cursive;
}
body{
    margin: 0;
    font-family: var(--font-roboto);
}